*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body{
    background-color: #293044;
}

main{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
    margin-top: 40px;
}

h2{
    background-color: #485c7b;
    height: 70px;
    text-align: center;
    line-height: 70px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.todo{
    display: flex;
    justify-content: space-between;
}

.todo__app{
    width: 32%;
}

.todo__app form{
    background-color: #6a7987;
    border-radius: 10px;
    display: block;
    width: 100%;
}

.todo__app form textarea{
    background: #6a7987;
    color: white;
    font-size: 18px;
    padding: 10px;
    width: 100%;
    display: block;
    resize: none;
    height: 300px;
    border: none;
    line-height: 24px;
    outline: none;
    border-bottom: 1px solid #293044;
    border-radius:  10px 10px 0 0;
}

.todo__app input{
    position: absolute;
    top: 0;
    left: -50px;
}

.todo__app label{
    margin: 15px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    user-select: none;
} 

.todo__app label span{
    display: block;
    margin-top: 5px;
    cursor: pointer;
}

.todo__app input:checked + label img{
    filter: none;
}

.todo__app .row{
    display: flex;
    align-items: center;
    padding: 0 10px 10px 10px;
    justify-content: space-between;
}

.todo__app button {
    height: 32px;
    width: 100px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background: #925959;
    color: white;
    font-size: 16px;
}

.todo__list{
    width: 32%;
    border: 1px solid green;
}

.todo__favorite{
    width: 32%;
    border: 1px solid green;
}

   



/* Todo LIST */

.todo__list-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 402px;
    overflow: auto;
}

.todo__list-item{
    background:#6a7987;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
}

.todo__list-wrapper::-webkit-scrollbar{
    width: 10px;
    background: #293044;
}

.todo__list-wrapper::-webkit-scrollbar-thumb{
    background: #925959;
    border-left: 4px solid #293044;
}

.todo__list-content{
    padding: 10px;
    font-size: 18px;
    height: 179px;
    overflow: auto;
}

.todo__list-content::-webkit-scrollbar{
    width: 8px;
    background: #6a7987;
}

.todo__list-content::-webkit-scrollbar-thumb{
    background:#293044;
    border-radius: 5px;
    border: 2px solid #6a7987;
}

.todo__list-controll {
    border-top: 1px solid #293044;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo__list-controll-btns{
    gap: 10px;
    display: flex;
    align-items: center;
}

.todo__list-controll-btns .status {
    height: 26px;
    width: 26px;
    cursor: pointer;
}

.todo__list-controll button{
    background: none;
    border: none;
    height: 26px;
    filter: grayscale(1);
    width: 26px;
    cursor:pointer ;
}

.todo__list-controll button img{
    width: 100%;
    height: 100%;
}

.todo__favorite button{
    filter: none;
}

@media all and (max-width: 1024px){
    .todo{
        flex-direction: column;
        gap:20px;
    }

    .todo__app{
        width: 100%;
    }

    .todo__list{
        width: 100%;
    }

    .todo__favorite{
        width: 100%;
    }
    main{
        margin: 0;
        padding: 10px;
    }
    
}